# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [22]:
# import libraries
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [23]:
# load messages dataset
messages = pd.read_csv('disaster_messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [24]:
# load categories dataset
categories = pd.read_csv('disaster_categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [25]:
# merge datasets
df = pd.merge(categories, messages, how='inner', on=['id'])
df.head()

,id,categories,message,original,genre
0,2,related-1;request-0;offer-0;aid_related-0;medi...,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,related-1;request-0;offer-0;aid_related-1;medi...,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,related-1;request-0;offer-0;aid_related-0;medi...,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,related-1;request-1;offer-0;aid_related-1;medi...,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,related-1;request-0;offer-0;aid_related-0;medi...,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [26]:
print("Table size before dropping duplicates: ")
df.shape

Table size before dropping duplicates:

(26386, 5)

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [27]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [28]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing

category_colnames = row.map(lambda x: x[:-2])
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [29]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [30]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str[-1:]
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [31]:
# drop the original categories column from `df`
del df['categories']

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [32]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
# df.head()
df[:200]

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,14,Information about the National Palace-,Informtion au nivaux palais nationl,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,15,Storm at sacred heart of jesus,Cyclone Coeur sacr de jesus,direct,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
7,16,"Please, we need tents and water. We are in Sil...",Tanpri nou bezwen tant avek dlo nou zon silo m...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
8,17,"I would like to receive the messages, thank you",Mwen ta renmen jouin messag yo. Merci,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,18,I am in Croix-des-Bouquets. We have health iss...,"Nou kwadebouke, nou gen pwoblem sant m yo nan ...",direct,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
10,20,"There's nothing to eat and water, we starving ...",Bon repo pa gen anyen menm grangou swaf,direct,1,1,0,1,1,1,...,0,1,1,1,0,0,0,0,0,1
11,21,I am in Petionville. I need more information r...,M nan pv mvle plis enfomasyon sou 4636,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,22,"I am in Thomassin number 32, in the area named...",Mwen thomassin 32 nan pyron mwen ta renmen jwe...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
13,24,"Let's do it together, need food in Delma 75, i...",Ann fel ansanm bezwen manje nan delma 75 nan r...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
14,25,More information on the 4636 number in order f...,gen plis enfomasyon sou 4636 la pom w sim ap k...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,26,"A Comitee in Delmas 19, Rue ( street ) Janvier...",Komite katye delma 19 rue janvier imp charite ...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
16,27,We need food and water in Klecin 12. We are dy...,Nou bezwen mange avek dlo nan klcin 12 LA LAFI...,direct,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
17,28,are you going to call me or do you want me to ...,Eske se rele nap relem oubyen se mwen kap rele...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,30,I don't understand how to use this thing 4636.,Mwen pa konprann koman pou m itilize bagay 463...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,31,I would like to know if the earthquake is over...,Mwen ta remen connin si trenblem de terre afin...,direct,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
20,32,I would like to know if one of the radio ginen...,Mwen ta renmen konnen eske ge jounalis radyo g...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,33,"I'm in Laplaine, I am a victim",Mwen laplan mwen viktim kot yap bay d pou latr...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
22,34,"There's a lack of water in Moleya, please info...",Nan moleya pa gen dlo svp f konnen sa pou mwen.,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
23,35,Those people who live at Sibert need food they...,nou menm nan sibert nou grangou nou bezwen mange,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,36,"I want to say hello, my message is to let you ...",Mwen salye nou dab mesaj mwen an se jis nou ge...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,37,Can you tell me about this service,Can you tell me about this service,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,38,"People I'm at Delma 2, we don't anything what ...",MEZANMI MWEN MWEN NAN DELMA 2 NOU TR MAN MAL N...,direct,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
27,39,We are at Gressier we needs assistance right a...,Se gressier nou an difikilte tanpri vin ede nou,direct,1,1,0,1,1,0,...,0,0,1,1,0,0,0,0,0,1
28,41,How can we get water and food in Fontamara 43 ...,Comment nou ka jwen dlo ak manje nan font 43 c...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
29,42,We need help. Carrefour has been forgotten com...,Nap di secours yo bliye kafou net sant m ap to...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,208,The medicine should be distributed in all the ...,D MEDIKAMAN YO TA DWE DITRIBYE NAN CHAK DEPATM...,direct,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
171,209,One thing I am asking the money tranfer office...,Yon sel bagay map mande biwo transf yo pou yo ...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
172,210,"PLEASE, We are in Nazon, Sylvio Cator street. ...","S. V. P, Nou nan Nazon rue sylvio cator nou be...",direct,1,1,0,1,1,0,...,0,0,1,1,0,0,0,0,0,1
173,211,"Good morning, to everyone that is listening in...",Bonjou from yo kap kout miami ninpot lot peyi ...,direct,1,0,0,1,0,0,...,0,1,1,0,0,1,0,0,0,0
174,212,"We are in Delmas 95. We need food, water, clot...",NOU NAN DELMAS 95 JAK TOTO NOU PA JWENN MANJE ...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
175,213,"Good afternoon, we are a group in Bon Repo in ...",bonswa nou se yon ekip nan bonrepo rue loubens...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
176,214,Please help us! We are in Primati Malgro. They...,Tanpri ede nou kote nou ye se nan primati malg...,direct,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
177,215,I know of an internet service in Croix des Bou...,Mwen konnen yon enternet ki ouvri kwadebouke r...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
178,216,There's a group of people under the rubles at ...,Gen yon pati moun ki sou dekonb nan vilaj soli...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179,217,I am in Delmas there is a problem with water,Mwen nan delmas m gen pwoblem dlo,direct,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
180,218,Send me some minutes for my phone,Voye yon kek minit telefon pou mwen,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
181,219,We are at Lycee Philippe Guerrier at les Cayes...,Nou lokalize nou nan lyce Philippe Guerrier au...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
182,220,Watch out! This is a warning! There is a bad f...,ATANSYON! BEZWEN AN IJANS NAN YON SANT KI NAN ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,221,I live in St. Louis. I have some problems. Can...,MWEN RETE SEN-LWI DINO MWEN NAN DIFIKILTE NAN ...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
184,222,There are many people badly wounded who had to...,Gen ampil moun blese grav ki oblije ale en pwo...,direct,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
185,223,Noone has come to visit us in Delmas A1. We ne...,Pa janm gen moun ki vizite nou delma. A1 NOU B...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
186,224,go to delmas 1 near goldstar in painson s. a y...,Delma a1 trouvel nan antre bo goldstar nan lak...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
187,225,"We are in Jean Rabel, we have nothing to eat. ...",Nou nan jan rabel nou pagen anyen pou nou manj...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
188,226,we have a lot of problems at Cap Haitian. The ...,Nou gen anpil pwoblem nan okap lopital paka pr...,direct,1,1,0,1,1,0,...,0,0,1,1,0,0,0,0,0,1
189,227,I need help rescuing someone under the rubble ...,Mwen bzwen pou yo eden pran yon reskape anba d...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
190,228,"Please, we need humanitarian aid because the L...",SIL VOU PLE NOU BEZWEN ED IMANITE PASKE DEPATM...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
191,229,"Good evening, please come quickly to assist ho...","Bonsoir, prire de voler au secours des victime...",direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
192,230,In Cap Haitian there are a lot of problems : l...,"NAN VIL OKAP GEN ANPIL PWOBLEM, TAN KOU : MANJ...",direct,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
193,231,We are asking all United States agents to send...,NAP MANDE TOUT A jAN LES ZETANIUS SE POU YOVOY...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
194,233,hello my brother and my sister are in jan rabe...,Bonjou frem avek sem yo non janrabel nou pagen...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
195,234,I am in the town of Jeremie in the Grand'Anse ...,Nou gen anpil problem nan lziwa paske provizyo...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,235,I am with the people in Delmas 33 Z Silo that ...,Mwen gen yon moun nan Delmas 33 Zn Silo ki fra...,direct,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
197,236,We are from leogane -st mathieu -we need food ...,Nou rete leyogan rout avni st matye nou bezwen...,direct,1,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
198,237,We just need to send this message to the Organ...,kontre jounen jodia sitou apre dram ki rive pe...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
199,238,Good morning to the emergency relief people. W...,Bonjou ajan konsene nou yo nou gen nan depatma...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [33]:
#Original shape - before concatenating the categories column:(26386, 5)
df.shape

(26386, 40)

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [34]:
# # check number of duplicates
# print('Number of duplicated rows: {} out of {} samples'.format(df.duplicated().sum(),df.shape[0]))

In [35]:
print("Count of duplicate : {}", format(df[df.duplicated].count()))

Count of duplicate : {} id                        170
message                   170
original                   76
genre                     170
related                   170
request                   170
offer                     170
aid_related               170
medical_help              170
medical_products          170
search_and_rescue         170
security                  170
military                  170
child_alone               170
water                     170
food                      170
shelter                   170
clothing                  170
money                     170
missing_people            170
refugees                  170
death                     170
other_aid                 170
infrastructure_related    170
transport                 170
buildings                 170
electricity               170
tools                     170
hospitals                 170
shops                     170
aid_centers               170
other_infrastructure      170
weather_related           170
floods                    170
storm                     170
fire                      170
earthquake                170
cold                      170
other_weather             170
direct_report             170
dtype: int64

In [36]:
# check number of duplicates
df[df.duplicated].shape

(170, 40)

In [37]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [38]:
# check number of duplicates
df[df.duplicated].count()

id                        0
message                   0
original                  0
genre                     0
related                   0
request                   0
offer                     0
aid_related               0
medical_help              0
medical_products          0
search_and_rescue         0
security                  0
military                  0
child_alone               0
water                     0
food                      0
shelter                   0
clothing                  0
money                     0
missing_people            0
refugees                  0
death                     0
other_aid                 0
infrastructure_related    0
transport                 0
buildings                 0
electricity               0
tools                     0
hospitals                 0
shops                     0
aid_centers               0
other_infrastructure      0
weather_related           0
floods                    0
storm                     0
fire                      0
earthquake                0
cold                      0
other_weather             0
direct_report             0
dtype: int64

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [39]:
engine = create_engine('sqlite:///InsertDatabaseName.db')
df.to_sql('messages_disaster', engine, index=False)

ValueError: Table 'messages_disaster' already exists.

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.